.wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}
.section{
  margin: 0 30px;
  flex: 1
}
.title{
  font-size: 1.75em;
}
.text{
  font-size: 1.10em;
}
.imageUnderlay{
  width: 100%;
  height: auto;
  z-index: 0;
  border-radius: 50%;
}
@media only screen and (min-width: 320px) {
  .imageUnderlay{
    width: 75%;
    height: auto;
    z-index: 0;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 425px) {
  .wrapper{
    padding: 20px 0;
  }
}
@media only screen and (min-width: 700px) {
  .title{
    font-size: 2.0em;
  }
  .text{
    font-size: 1.10em;
  }
  .imageUnderlay{
    width: 65%;
    height: auto;
    z-index: 0;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .imageUnderlay{
    width: 50%;
    height: auto;
    z-index: 0;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section{
    flex: 1 1 calc(45% - 20px);
    margin: 0 25px;
  }
  .imageUnderlay{
    width: 100%;
    height: auto;
    z-index: 0;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .imageUnderlay{
    max-width: 90%;
    max-height: 550px;
    z-index: 0;
  }
  .textOverlay{
    text-shadow: 3px 3px 5px black; 
  }
  .title{
    font-size: 3.0em;
  }
  .subtitle{
    font-size: 2.0em;
  }
}