.wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: black;
  background-color: #666666;
}
.section{
  flex: 1;
  margin: 10px 20px;
}
.subsection{
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  width: 100%; /* Forces the title to have its own line in flexbox. */
  font-size: 1.25em;
  font-family: 'Caladea', serif;
  border-bottom: black 1px solid;
  margin: 0;
}
.text{
  width: 100%;
  font-size: 1.0em;
  margin: 0;
}
.textSmall{
  width: 100%;
  font-size: 0.7em;
  margin: 10px 0;
}
.bold{
  font-weight: bold;
}
.partnerLogo{
  width: 200px;
  height: 60px;
}
.subtleButton{
  display: inline-block;
  border-radius: 4px;
  background-color: none;
  border: none;
  color: black;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (min-width: 425px) {
  .wrapper{
    padding-top: 20px;
  }
}
@media only screen and (min-width: 700px) {
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
  }
  #bottomBox{
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
  }
  .section{
    flex: 1 1 calc(45% - 20px);
    margin: 10px 15px;
  }
  #bottomText{
    flex: 1 1 calc(45% - 20px);
  }
  .textSmall{
    min-width: 100%;
  }
  .partnerLogo{
    width: 250px;
    height: 75px;
  }
}
@media only screen and (min-width: 1020px) {
  .subsection{
    margin: 10px 60px;
  }
  .partnerLogo{
    width: 175px;
    height: 75px;
    margin: 5px 15px;
  }
  #locationBox{
    flex: 1;
  }
  #partnerBox{
    flex: 2;
  }
}
@media only screen and (min-width: 1020px) {
  .partnerLogo{
    width: 225px;
    height: 100px;
    margin: 5px 35px;
  }
  .title{
    font-size: 1.85em;
  }
  .text{
    font-size: 1.10em;
  }
  .textSmall{
    font-size: 1.0em;
  }
}