.wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: black;
  background-color: whitesmoke;
}
.section{
  flex: 1;
  margin: 10px 20px;
}
.subsection{
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  width: 100%; /* Forces the title to have its own line in flexbox. */
  font-size: 1.25em;
  font-family: 'Caladea', serif;
  border-bottom: black 1px solid;
  margin: 0;
  margin-bottom: 10px;
}
.text{
  width: 100%;
  font-size: 1.0em;
  margin: 2px;
}
.bold{
  font-weight: bold;
}
#partnerTitle{
  width: 100%;
}
#partnerBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.partnerLogo{
  width: 80px;
  height: 35px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  padding: 8px;
  transition: ease 0.5s;
}.partnerLogo:hover, .partnerLogo:focus{
  filter: brightness(150%);
}
.subtleButton{
  display: inline-block;
  border-radius: 4px;
  background-color: none;
  border: none;
  color: black;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: underline;
}.subtleButton:hover, subtleButton:focus{
  transition: ease 0.3s;
  color: #5FB5BF;
}
#bottomBox{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.textSmall{
  width: 45%;
  font-size: 0.7em;
}
@media only screen and (min-width: 425px) {
  .wrapper{
    padding-top: 20px;
  }
  #partnerBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .partnerLogo{
    width: 100px;
    height: 40px;
    margin: 0 5px;
  }
}
@media only screen and (min-width: 700px) {
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    align-items: baseline;
    text-align: center;
  }
  #bottomBox{
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .section{
    flex: 1 1 calc(45% - 20px);
    margin: 10px 15px;
  }
  #partnerBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .partnerLogo{
    width: 110px;
    height: 50px;
    margin: 0 10px;
  }
}
@media only screen and (min-width: 1020px) {
  #addressBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .partnerLogo{
    width: 110px;
    height: 50px;
    margin: 0 10px;
  }
  #locationBox{
    flex: 1;
  }
  #partnerBox{
    flex: 2;
  }
}
@media only screen and (min-width: 1440px) {
  .partnerLogo{
    width: 170px;
    height: 70px;
    margin: 0 20px;
  }
  .title{
    font-size: 1.85em;
  }
  .text{
    font-size: 1.10em;
  }
}