@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');

.wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  background: url("../images/landing_small.jpg") center/cover no-repeat scroll border-box border-box white;
}
/* Positioned 'absolute' to center the text on the image.  */
.textOverlay{
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  color: #15C5D8;
}
  .title{
    /* font-family: 'Pacifico', cursive, 'Caladea', serif; */
    font: italic 700 3.25em/10px 'EB Garamond', serif;
    text-shadow: 1px 1px 0 rgb(255, 255, 255); 
  }
  .subtitle{
    font: italic 500 1.6em/30px 'EB Garamond', serif;
    text-shadow: 0.5px 0.5px 0 rgb(255, 255, 255); 
  }
@media only screen and (min-width: 350px) { 
  .textOverlay{
    width: 80%;
  }
}
@media only screen and (min-width: 410px) {
  .textOverlay{
    width: 70%;
  }
}
@media only screen and (min-width: 460px) {
  .wrapper{
    height: 450px;
  }
  .textOverlay{
    width: 60%;
  }
}
@media only screen and (min-width: 530px) {
  .title{
    font: italic 700 3.75em/0px 'EB Garamond', serif;
  }
  .subtitle{
    font: italic 500 1.75em/30px 'EB Garamond', serif;
  }
}
@media only screen and (min-width: 630px) {
  .textOverlay{
    width: 90%;
  }
  .title{
    font: italic 700 4.25em/0px 'EB Garamond', serif;
  }
  .subtitle{
    font: italic 500 2.25em/30px 'EB Garamond', serif;
  }
}
@media only screen and (min-width: 700px) {
  .wrapper{
    height: 550px;
    background: url("../images/landing_medium.jpg") center/cover no-repeat scroll border-box border-box white;
}
  .title{
    font: italic 700 5em/10px 'EB Garamond', serif;
  }
  .subtitle{
    font: italic 500 2.25em/30px 'EB Garamond', serif;
  }
}
@media only screen and (min-width: 1020px) {
  .wrapper{
    height: 650px;
  }
  .title{
    font: italic 700 6.5em/10px 'EB Garamond', serif;
  }
  .subtitle{
    font: italic 500 3.25em/30px 'EB Garamond', serif;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper{
    height: 850px;
  }
  .title{
    font: italic 700 8em/10px 'EB Garamond', serif;
  }
  .subtitle{
    font: italic 500 4.25em/30px 'EB Garamond', serif;
  }
}
@media only screen and (min-width: 1921px) {
  .wrapper{
    background: url("../images/landing_large.jpg") center/cover no-repeat scroll border-box border-box white;
  }
}