.wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  /* background: url("../images/pp01.jpg") center/cover no-repeat scroll border-box border-box white; */
  background: url("../images/postal_truck_large.jpg") center/cover no-repeat scroll border-box border-box white;
}
/* Positioned 'absolute' to center the text on the image.  */
.textOverlay{
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px black; 
}
  .title{
    font-size: 3.25em;
    font-family: 'Pacifico', cursive, 'Caladea', serif;
  }
  .subtitle{
    margin-top: -10%;
    font-size: 1.85em;
  }
@media only screen and (min-width: 425px) {
  .wrapper{
    height: 450px;
  }
  .title{
    font-size: 3.25em;
  }
  .subtitle{
    font-size: 1.85em;
    margin-top: -7%;
  }
}
@media only screen and (min-width: 700px) {
  .wrapper{
    height: 550px;
  }
  .title{
    font-size: 5.0em;
  }
  .subtitle{
    font-size: 2.0em;
  }
}
@media only screen and (min-width: 1020px) {
  .wrapper{
    height: 650px;
  }
  .textOverlay{
    text-shadow: 2px 2px 3px black; 
  }
  .title{
    font-size: 6.0em;
  }
  .subtitle{
    font-size: 2.75em;
    margin-top: -5%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper{
    height: 850px;
  }
  .imageUnderlay{
    max-width: 100%;
    max-height: 900px;
    z-index: 0;
  }
  .textOverlay{
    text-shadow: 3px 3px 5px black; 
  }
  .title{
    font-size: 6.0em;
  }
  .subtitle{
    font-size: 2.75em;
    margin-top: 0;
  }
}