.wrapper{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 20px;
  }
  .section{
    flex: 1;
    margin: 0 15px;
  }
  .subSection{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* These specific settings allow a line on either side of the title */
    #title {
      width: 80%;
      overflow: hidden;
      text-align: center;
    }
    #title:before,
    #title:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    #title:before {
        right: 0.5em;
        margin-left: -50%;
    }
    #title:after {
        left: 0.5em;
        margin-right: -50%;
    }  
  .text{
    width: 90%;
    font-size: 1.08em;
  }
  .icon{ /* Prevents the icon from showing on smaller devices */
    width: 0;
    height: 0;
  }
  .subTitle{
    font-size: 1.25em;
    color: darkred;
    text-align: left;
    margin: 0 0 10px 0; 
    width: 100%;
  }
  .subText{
    font-size: 1.15em;
    list-style-type: none;
    text-align: left;
    margin: 0 10% 0 10%; 
  }
  .listContainer{
    margin: 0 0 0 0; 
    text-align: left;
    width: 100%;
  }
  .listItem{
    font-size: 1.15em;
    list-style-type: circle;
    text-align: left;
  }
  .imageUnderlay{
    width: 100%;
    height: auto;
    z-index: 0;
    border-radius: 50%;
  }
  /* @media only screen and (min-width: 320px) {
    .imageUnderlay{
      width: 45%;
      height: auto;
      z-index: 0;
      border-radius: 50%;
    }
  }
  @media only screen and (min-width: 425px) {
    .wrapper{
      padding: 20px 0;
    }
  }
  @media only screen and (min-width: 700px) {
    .wrapper{
      flex-flow: row wrap;
    }
    .text{
      font-size: 1.10em;
    }
    #imageContainer{
      display: inline-block;
    }
    .imageUnderlay{
      width: 100%;
      height: auto;
      z-index: 0;
      border-radius: 15%;
    }
  }
  @media only screen and (min-width: 900px) {
    .imageUnderlay{
      width: 30%;
      height: auto;
      z-index: 0;
      border-radius: 50%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .wrapper{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .section{
      flex: 1 1 calc(45% - 20px);
      margin: 0 25px;
    }
    .imageUnderlay{
      width: 100%;
      height: auto;
      z-index: 0;
      border-radius: 50%;
    }
  }
  @media only screen and (min-width: 1440px) {
    .imageUnderlay{
      max-width: 90%;
      max-height: 550px;
      z-index: 0;
    }
    .textOverlay{
      text-shadow: 3px 3px 5px black; 
    }
    .subtitle{
      font-size: 2.0em;
    }
  } */