.wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: lightgray;
}
.section{
  flex: 1;
  margin: 10px 30px;
}
.subsection{
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.title{
  width: 100%; /* Forces the title to have its own line in flexbox. */
  font-size: 1.25em;
  font-family: 'Caladea', serif;
  border-bottom: black 1px solid;
  margin: 0;
}
.carrierLogo{
  width: 150px;
  height: 150px;
  cursor: pointer;
}